# Node modules
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/results/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
mochawesome.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/
.nyc_output/

# Build outputs
dist/
build/
out/
mochawesome-report/

# Temporary files
*.tmp
*.temp
*.swp

# Package manager lock files (optional, якщо не хочеш фіксувати версії)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
merged-test-results.xml
